; Where tools bin files are installed
;phpqa.tools.path=${project.basedir}/vendor/bin

; Path where create all logs and info files
;phpqa.build.path=build

; Source path 
;phpqa.source.path=src

; Comma-separated dirs
;phpqa.source.list=

; Comma-sperated extensions
;phpqa.source.suffix=php

; Comma-separated dirs
;phpqa.exclude.path=

; Tools config
phpqa.phpmd.ruleset=cleancode,codesize,controversial,design,naming,unusedcode

phpqa.phpcs.standard=PSR2

phpqa.phpunit.options=

;phpqa.phpspec.enabled=true
